body {
    background-image: url(image/debut_light.png);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

h2, h3 {
    color: #14274e
 }

nav a {
     text-decoration: none;
}

nav a:hover {
     font-weight: bold;
}

header ul li a:hover {
    background-color: #14274e;
    color: #fff;
    padding: 20px;
    margin: -20px;
}
 
.profile header {
     text-align: center;
}

.profile img {
   border-radius: 50%;
}

aside section h3 {
     text-align: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: #9ba4b4;
    text-align: center;
    font-weight: bold;
}

.banner {
    background-image: url(image/banner.png);
    height: 60vh;
    background-position: 0 -100px;
    border: 5px solid #394867;
    object-position: center;
    display: flex;
    justify-content: left;
    align-items: left;
}

.banner h2 {
   font-size: 2rem;
   color: #fff;
   padding: 90px 20px;
   font-weight: 400;
}

.banner h2 span {
    font-size: 4rem;
    font-weight: 600;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
     width: 150px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 10px;
    background-color: #14274e;
    text-align: center;
    color: white;
}

 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #394867;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

div h2 {
     text-align: center;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

 @media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    .banner {
       align-items: center;
    }
 }

header {
     display: inline;
}
    
.box .col-4 {
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
    float: left;
}

.col-4 h3, p {
     text-align: center;
}

.col-4 a {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
}

.col-4 a:hover {
    color: #14274e;
}